body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*------------------header de la pagina-----------------------*/

.img_logo {
    height: auto; 
    width: 125px;     
}

.indice {
    align-items: center;
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0px;

}

/*navegación de paginas dentro del header*/

.barra_navegacion {
    background-color: rgb(238, 237, 237);
    text-align: center;
    padding: 5px;
}

.barra_navegacion ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

.barra_navegacion ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 700;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.barra_navegacion ul li:hover {
    font-size: 20px;
    transform: scale(1.1);
    color: #007bff;
    cursor: pointer;
}

